html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.header {
    background-color: black;
    color: white;
    font-size: 60px;
}

.content {
    justify-content: center;
    margin: 50px;
    padding: 10px;
    border: 5px solid gray;
    
    font-family: 'Courier New', Courier, monospace;    
}

.image-content {
    padding: 5px;
    margin: 5px;
}

